%html
  %head
    %title Disc Golf Mobile
    %meta{ charset: "utf-8" }
    %meta{ name: "viewport", content: "width=device-width, initial-scale=1" }
    %link{ rel: "stylesheet", href: "http://code.jquery.com/mobile/1.1.0/jquery.mobile-1.1.0.min.css" }
    %link{ rel: "stylesheet", href: "/app.css" }
    %script{ src: "http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" }
    %script{ src: "/jquerydefault.js" }
    %script{ src: "http://code.jquery.com/mobile/1.1.0/jquery.mobile-1.1.0.min.js" }
    %script{ src: "/app.js" }
  %body
    %div{ "data-theme" => "a", "data-role" => "header", "data-position" => "fixed" }
      %h3
        Disc Golf Scorer Mobile
    %div{ "data-role" => "content" }
      = yield