= @error

%form{ id: "score", name: "score", action: "", method: "post"}
  %label{ for: "score" }
  %input{ id: "score", name: "score", placeholder: "score", value: @score, type: "text" }
  %a{ id: "login_button", "data-role" => "button", "data-transition" => "slide", :href => "#" }