= @error

%form{ id: "score", name: "score", action: "", method: "post"}
  %input{ "type" => "hidden", "name" => "score", "id" => "score", "value" => "3" }

  %div{ "data-role" => "content" }
    %div{ "class" => "ui-grid-b" }
      %div{ "class" => "ui-block-a" }
        %input{ "data-transition" => "fade", "data-theme" => "b", "value" => "1", "type" => "button", "onclick" => "$('input[id=\"score\"]').val('1'); $('form').submit()" }
      %div{ "class" => "ui-block-b" }
        %input{ "data-transition" => "fade", "data-theme" => "b", "value" => "2", "type" => "button", "onclick" => "$('input[id=\"score\"]').val('2'); $('form').submit()" }
      %div{ "class" => "ui-block-c" }
        %input{ "data-transition" => "fade", "data-theme" => "b", "value" => "3", "type" => "button", "onclick" => "$('input[id=\"score\"]').val('3'); $('form').submit()" }

      %div{ "class" => "ui-block-a" }
        %input{ "data-transition" => "fade", "data-theme" => "b", "value" => "4", "type" => "button", "onclick" => "$('input[id=\"score\"]').val('4'); $('form').submit()" }
      %div{ "class" => "ui-block-b" }
        %input{ "data-transition" => "fade", "data-theme" => "b", "value" => "5", "type" => "button", "onclick" => "$('input[id=\"score\"]').val('5'); $('form').submit()" }
      %div{ "class" => "ui-block-c" }
        %input{ "data-transition" => "fade", "data-theme" => "b", "value" => "6", "type" => "button", "onclick" => "$('input[id=\"score\"]').val('6'); $('form').submit()" }

      %div{ "class" => "ui-block-a" }
        %input{ "data-transition" => "fade", "data-theme" => "b", "value" => "7", "type" => "button", "onclick" => "$('input[id=\"score\"]').val('7'); $('form').submit()" }
      %div{ "class" => "ui-block-b" }
        %input{ "data-transition" => "fade", "data-theme" => "b", "value" => "8", "type" => "button", "onclick" => "$('input[id=\"score\"]').val('8'); $('form').submit()" }
      %div{ "class" => "ui-block-c" }
        %input{ "data-transition" => "fade", "data-theme" => "b", "value" => "9", "type" => "button", "onclick" => "$('input[id=\"score\"]').val('9'); $('form').submit()" }